body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to right, #1e0959, #8f5ac5);
  height: 80px;
  display: flex;
  padding: 0 32px;
  color: white;
}

.header > img {
  width: 180px;
  height: 70px;
}

.footer {
  background-color: black;
  height: 250px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-height: 250px;
  overflow: hidden;
}

.footer > a {
  font-size: 24px;
  color: white;
}

.footer > a:not(:last-child) {
  margin-bottom: 12px;
}

.footer > a:hover {
  font-size: 24px;
  color: #8f5ac5;
}

.Wishlist {
  text-align: center;
}