.product-data {
    width: 100%;
    text-align: center;
}

.product-image {
    object-fit: fill;
    width: 100%;
}

.subtitle {
    font-size: 20px;
}

.discountedprice {
    color: red;
    font-size: 20px;
    margin: 10px;
}

.price{
    text-decoration: line-through;
    color: grey;

}

.divPrice{
    display: flex;
    justify-content: center;
}

.addToList {
    padding: 3px;
}